html {
    height: 100%;
}

body {
    font-family: "Open Sans", Helvetica;
    font-size: 0.9em;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
}

#graphic {
    width: 90%;
    margin: 0 auto;
}
.title {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1em;
}

section {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 8em;
}

a {
    text-decoration: none;
    color: #1fabff;
    font-weight: 400;   
}

a:hover {
    color: #ff731f;
}

.button {
    display: inline-block;
    width: 3.5em;
    border: 1px solid #999;
    border-radius: 50px;
    text-align: center;
    color: #444;
    font-family: sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0.5em;
    transition: 0.2s;
}


.button:hover{
    cursor: pointer;
    background-color: #999;
    color: white;
}

.whitespace {
    display: block;
    height: 200px;
}

pre {
    width: 100%;
    overflow-x: auto;
    border: 1px dotted #b9b6b4;
    margin: 2em 1em;
    background-color: #ffd7c9;
}

.grey {
    color: #888;
}

/* Header */

.header {
    display: block;
    width: 100%;
    margin: 0 auto;
    height: 80vh;
    text-align: center;
    margin-bottom: 2em;
}

.header-title {
    position: relative;
    font-family: "Merriweather";
    margin: 0;
    top:45%;
}

.header-title h1 {
    margin-top: 0;
    font-size: 3em;
}

.header-left {
    width: 25%;
    height: 80vh;
    position: absolute;
    right: 50vw;
    background-color: #2096b7;
    z-index: -99;
}

/* Content */

section {
        transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.inner-wrapper {
    width: 80%;
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding-top: 5em;
}

.main-content {
    display: inline-block;
    max-width: 50%;
    box-sizing: border-box;
    padding-left: 2em;
}

.main-content-left {
    position: relative;
    left: 50%;
}

.side-content {
    display: inline-block;
    width: 30em;
    max-width: 50%;
    height: ;
    box-sizing: border-box;
    vertical-align: top;
    float: right;
}

.is-fixed {
    position: sticky;
    position: -webkit-sticky;
    top: 25vh;
}


/* TRIGGER */

.figure {
    display: block;
    width: 80%;
    margin: 0 auto;
    position: relative;
    top: 0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;    
}

.figure img{
    width: 100%;
    height: auto;
}

.caption {
    font-size: 75%;
    color: #666;
    font-weight: 400;
    font-style: italic;
    margin-left: 0.5em;
}

.fade {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

.fade img {
        transition: opacity 0.5s;
}

.trigger {
    text-align: center;
    background-color: yellow;
    width: 5em;
    margin: 0 auto;
}
/* TRIANGLE */

#triangle-section {
    height: auto;
    display: block;
}

#mySVG {
    position: sticky;
    position: -webkit-sticky;
    top: 15%;
    width: 400px;
    height: 210px;
    margin-left: -50px;
}


#timerbox {
    display: none;
    background-color: grey;
    padding: 2em;
    color: white;
    position: fixed;
    bottom: 15%;
    left: 10%;
}

#timer-legend {
    position: relative;
    float: left;
    margin-right: 1em;
    text-align: right;
}

#timer {
    position: relative;
    float: right;
}

#triangle-helper {
    height: 500px;
    float: left;
}

/* ROUTE */

#map {
    vertical-align: top;
}

.cls-7 {
    fill:none;stroke:#ff2f2f;stroke-width:2px;
}

#map-section {
    display: block;
    height: 2000px;
}

#map-helper {
    height: 1000px;
    float: left;
}

#nice {
    margin-top: 3em;
    text-align: center;
    font-size: 1.2em;
    transition: 2s;
}

/* VIDEO */

video {
    width: 100%;
    height: auto;
}

/* BG*/

#bg-section {
    height: 5000px;
    margin-top: 0;
}

.whole-page {
    display: block;
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
}

#changing-img {
    display: block;
    width: 100%;
    height: 100vh;
    transition: background-image 2s;
    position: sticky;
        overflow-y: hidden;
}

#changing-img img {
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition: opacity 2.5s;
    margin: 0;
}

#bg1 {
    opacity: 1;
}

#bg2 {
    opacity: 0;
}

#bg-trigger {
    float: left;
    top: 50%;
    position: relative;
    z-index: 99;
}

#end {
    bottom: 60vh;
    text-align: center;
    margin: 0 auto;
    color: white;
    position: relative;
    margin: 0;
    line-height: 0;
    text-shadow: 0px 2px 4px #222;
}
